.my-app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.my-app h2,
.my-app p {
	margin: revert;
}

.my-app .logos {
	display: flex;
	place-content: center;
}

.my-app .logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
}

.my-app .logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.my-app .logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.my-app .card {
	padding: 2em;
}

.my-app .read-the-docs {
	color: #888;
}

.my-app button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #f9f9f9;
	color: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
	text-transform: revert;
	text-decoration: revert;
}

.my-app button:hover {
	border-color: inherit;
}

.my-app button:focus,
.my-app button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
