.ant-input-number-group-addon {
	padding: 0rem 1rem !important;
	.fs-addon {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
