@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
  max-width: 1280px;
  margin: 0 auto;
} */

body {
	margin: 0 !important;
}

div[class^="ant-"] {
	a {
		&:focus {
			box-shadow: none;
		}
	}

	ins {
		@apply text-red-500 ml-1 no-underline;
	}
	del {
		@apply text-gray-400;
	}
	input[class*="ant-select"] {
		box-shadow: none !important;
		border: none !important;
		outline: none !important;
	}
	span.from {
		display: none;
	}

	input[class*="ant-input"],
	input.ant-select-selection-search-input {
		min-height: unset;
		line-height: 1.5;
	}

	.antd-form-sm {
		div.ant-form-item {
			@apply mb-2;
		}
		div.ant-form-item-label {
			@apply pb-0 text-xs;
		}
	}

	&:focus-visible {
		outline: unset;
	}
}

@media print {
	html,
	body {
		height: 100%; /* Use 100% here to support printing more than a single page*/
		width: 297mm;
		margin: 0 !important;
		padding: 10mm !important;
		overflow: hidden;
	}
}
